*{
  margin:0;
  padding:0;
}
.newOne{
  width:984px;
  height:444px;
  margin:0 auto;
  overflow: hidden;
}
.newOne_nav{
  width:100%;
  height:46px;
  border-top:2px solid #9a9a9a;
  border-bottom:2px solid #e0e1e3;
  overflow:hidden;
}
.newOne_nav>div:nth-child(1){
  line-height:46px;
  font-size:20px;
  color:#2b3fa0;
  font-weight:bold;
  float:left;
  margin-right:8px;
}
.newOne_nav>div:nth-child(2){
  line-height:54px;
  font-size:12px;
  color:#958fb3;
  float:left;
  margin-right:10px;
}
.newOne_nav>div:nth-child(2)>img{
  margin-left:4px;
}
.newOne_nav>div:nth-child(3){
  line-height:46px;
  font-size:12px;
  color:#14468d;
  float:left;
  padding:0 10px;
}
.newOne_nav>div:nth-child(4){
  line-height:46px;
  font-size:12px;
  color:#958fb3;
  float:left;
  padding-right:20px;
}
.newOne_main{
  width:100%;
  height:390px;
  overflow:hidden;
}
.newOne_main>div:nth-child(1){
  width:420px;
  height:390px;
  float:left;
  overflow:hidden;
}



.newOne_main>div:nth-child(1)>ul{
  margin-top:10px;
}
.newOne_main>div:nth-child(1)>ul>li{
  line-height:28px;
}



.newOne_main>div:nth-child(2){
  width:240px;
  height:390px;
  float:left;
}
.newOne_main>div:nth-child(2)>div{
  overflow:hidden;
}
.newOne_main>div:nth-child(2)>div:nth-child(1)>h3{
  line-height:18px;
  font-size:16px;
  color:#273f7f;
  border-left:2px solid #273f7f;
}
.newOne_main>div:nth-child(2)>div:nth-child(1)>div{
  width:240px;
}
.newOne_main>div:nth-child(2)>div:nth-child(1)>div>img{
  width:100%;
}
.newOne_main>div:nth-child(2)>div:nth-child(1)>div>span{
  display:block;
  width:100%;
  line-height:26px;
  background:#f6f7f9;
}
.newOne_main>div:nth-child(2)>div:nth-child(2){
  overflow:hidden;
}
.newOne_main>div:nth-child(2)>div:nth-child(2)>div{
  width:112px;
  float:left;
}
.newOne_main>div:nth-child(2)>div:nth-child(2)>div>img{
  width:100%;
}
.newOne_main>div:nth-child(2)>div:nth-child(2)>div>span{
  display:block;
  width:100%;
  line-height:18px;
  background:#fdfbff;
  font-size:12px;
}
.newOne_main>div:nth-child(3){
  width:290px;
  height:390px;
  float:left;
  margin-left:30px;
}
.newOne_main>div:nth-child(3)>div:nth-child(1)>h3{
  height:18px;
  line-height:18px;
  font-size:16px;
  color:#264283;
}
.newOne_main>div:nth-child(3)>div:nth-child(1)>div{
  overflow: hidden;
}
.newOne_main>div:nth-child(3)>div:nth-child(1)>div>div{
  float: left;
  width:136px;
}
.active{
  font-weight:bold !important;
}

















